<div class="page">
<div class="container featuresRace">
  <h1>Add Driver</h1>
  <div class="md-form">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" onblur="checkName()">
    <div id="feedbackName"></div>
  </div>
  <div class="md-form">
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" class="form-control">
    <div id="feedbackLastname"></div>
  </div>
  <div class="md-form">
    <label for="team">Team</label>
    <input type="text" id="team" class="form-control">
    <div id="feedbackTeam"></div>
  </div>
  <div class="md-form">
    <label for="car">Car</label>
    <input type="text" id="car" class="form-control">
    <div id="feedbackCar"></div>
  </div>

  <button id="addDriver" class="btn btn-outline-secondary btn-lg"
          onclick="checkName()">Add driver
  </button>
</div>
</div>
