<div class="page">
<div class="container featuresRace">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <h1>Add Driver</h1>
  <div class="md-form">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="driver.firstName"
           class="form-control"
           id="name"
           name="name"
           placeholder="Enter your name"
           required #name="ngModel">
    <div id="feedbackName"></div>
  </div>
  <div class="md-form">
    <label for="lastname">Last Name</label>
    <input type="text" [(ngModel)]="driver.lastName"
           class="form-control"
           id="lastName"
           name="lastName"
           placeholder="Enter your lastName"
           required #lastName="ngModel">
    <div id="feedbackLastname"></div>
  </div>
  <div class="md-form">
    <label for="team">Team</label>
    <input type="text" [(ngModel)]="driver.team"
           class="form-control"
           id="team"
           name="team"
           placeholder="Enter your team"
           required #team="ngModel">
    <div id="feedbackTeam"></div>
  </div>
  <div class="md-form">
    <label for="car">Car</label>
    <input type="text" [(ngModel)]="driver.car"
           class="form-control"
           id="car"
           name="car"
           placeholder="Enter your car"
           required #car="ngModel">
    <div id="feedbackCar"></div>
  </div>

  <button id="addDriver" class="btn btn-outline-secondary btn-lg"
          onclick="checkName()">Add driver
  </button>
  </form>
</div>
</div>
