<div class="page">
<h1 class='mb-3'>Top3 drivers</h1>
<table id="dtBasicExample" class="table" width="100%">
  <thead>
  <tr>
    <th scope="col">Place</th>
    <th scope="col">Name</th>
    <th scope="col">Lastname</th>
    <th scope="col">Team</th>
    <th scope="col">Car</th>
    <th scope="col">Score</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let driver of drivers">
    <td>"0"</td>
    <td>{{ driver.firstName }}</td>
    <td>{{ driver.lastName }}</td>
    <td>{{ driver.team }}</td>
    <td>{{ driver.car }}</td>
    <td>"0"</td>
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>
