<div class="page">
<h1 class='mb-3'>Top3 drivers</h1>
<table id="dtBasicExample" class="table" width="100%">
  <thead>
  <tr>
    <th scope="col">Place</th>
    <th scope="col">Name</th>
    <th scope="col">Lastname</th>
    <th scope="col">Team</th>
    <th scope="col">Car</th>
    <th scope="col">Score</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let top of top; let i = index" [attr.aria-rowindex]="i">
    <td>{{i+1}}</td>
    <td>{{ top.firstName }}</td>
    <td>{{ top.lastName }}</td>
    <td>{{ top.team }}</td>
    <td>{{ top.car }}</td>
    <td>{{top.score}}</td>
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>
