<div class="page">
<div class="container featuresRace">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <h1>Add Score</h1>
  <div class="md-form">
    <label for="race">Race</label>
    <select  name="Race" id="race" class="form-control" >
      <option *ngFor="let race of races"
              [value]="race.name"
      > {{ race.name }} </option>
    </select>
  </div>
  <div class="md-form">
    <label for="driver">Driver</label>
    <select name="Driver" id="driver" class="form-control">
      <option *ngFor="let driver of drivers"
              [value]="driver.id"
      > {{ driver.firstName }} </option>
    </select>
  </div>
  <div class="md-form">
    <label for="score">Score</label>
    <input type="number" [(ngModel)]="score.score"
           class="form-control"
           id="score"
           name="score"
           placeholder="Enter score"
           required #lastName="ngModel">
  </div>
  <button class="btn btn-outline-secondary btn-lg"
          onclick="">Add score</button>
  </form>
</div>
</div>
